<div class="flow-builder-left">
  <ul class="flow-builder-tabs">
    <li class="{{if isEditFlowTag 'active'}}"><a {{action 'toggleTag' 'editFlow'}}>{{flow-t 'tab.editFlow'}}</a></li>
    <li class="{{if isAddStepTag 'active'}}"><a {{action 'toggleTag' 'addStep'}}>{{flow-t 'tab.addStep'}}</a></li>
    <li class="{{if isEditStepTag 'active'}}"><a {{action 'toggleTag' 'editStep'}}>{{flow-t 'tab.editStep'}}</a></li>
  </ul>
  <div class="flow-builder-tab-content">
    <div class="flow-builder-tab-pane {{if isEditFlowTag 'active'}}">
      <div class="form-group">
        {{input class="form-control" value=model.name}}
      </div>
      <div class="form-group">
        {{textarea class="form-control" value=model.description}}
      </div>
    </div>

    <div class="flow-builder-tab-pane {{if isAddStepTag 'active'}}">
      <div class="flow-builder-add-field-types">
        <div class="section">
          <a role="button" class="btn btn-primary" {{action 'addStep' 'start'}}>{{flow-t 'addStep.start'}}</a>
          <a role="button" class="btn btn-default" {{action 'addStep' 'process'}}>{{flow-t 'addStep.process'}}</a>
          <a role="button" class="btn btn-default" {{action 'addStep' 'condition'}}>{{flow-t 'addStep.condition'}}</a>
          <a role="button" class="btn btn-primary" {{action 'addStep' 'end'}}>{{flow-t 'addStep.end'}}</a>
        </div>
      </div>
    </div>

    <div class="flow-builder-tab-pane {{if isEditStepTag 'active'}}">
      {{#if step}}
        {{flow-step-editor model=step targetObject=this}}
      {{/if}}
    </div>

  </div>
</div>

<div class="flow-builder-right flow-builder-board">
  {{#each model.steps as |step|}}
    {{flow-step-display model=step jsPlumbInstance=jsPlumbInstance targetObject=this}}
  {{/each}}
</div>

<div class="flow-builder-clear"></div>
